{% extends "base.html" %}
{% block body %}
<div class="scrollable-list" id="resizable">
    <ul id="selectable">
        {% for symbol in exchangeInformation %}
        {% if symbol.status == 'TRADING' %}
        <li class="list-asset" data-symbol="{{ symbol.symbol }}">
            <div class="asset-info">
                {{ symbol.symbol }}
                {{ symbol.status.capitalize() }}
            </div>
            <div class="symbol-compact-chart" style="border: 1px solid black;"></div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
